@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

$ttt-purple: #49276a;

$theme-colors: (
  "primary": $ttt-purple,
);

@import "~bootstrap/scss/bootstrap";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto", sans-serif;
}

.ttt-purple-text {
  &,
  &:hover,
  &:visited,
  &:active,
  & *,
  & *:hover,
  & *:visited,
  & *:active {
    color: $ttt-purple;
  }
}

.ttt-purple-text-force {
  &,
  &:hover,
  &:visited,
  &:active,
  & *,
  & *:hover,
  & *:visited,
  & *:active {
    color: $ttt-purple !important;
  }
}

.ttt-purple-background {
  background-color: $ttt-purple;
}

.ttt-purple-border {
  border-color: $ttt-purple;
}
